@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    text-decoration: none;
}

.section1{
    background-image: url(images/image2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.naruto{
    position: sticky;
    top: 10px;
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;
    color: orangered;
}


#textos{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: rgb(34, 34, 34);
    padding: 11px 0;
}

#textos p{
    color: white;
    max-width: 70vw;
    font-weight: bold;
}


.section3{
    background-image: url(images/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.section5{
    background-image: url("https://w.wallha.com/ws/13/nRQ3m9uL.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.section-final{
    background-image: url("https://wallpaperaccess.com/full/394052.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.desenvolvido{
    width: 80px;
    height: 80px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
    background-size: cover;
    position: fixed;
    right: 15px;
    top: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.desenvolvido:hover{
    border: 2px solid blue;
}

footer{
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black

}

.links ul h4{
    text-align: right;
}

.links ul li{
    margin-top: 20px;
    text-align: right;
    text-decoration: beige;
    text-decoration-style: none ;
    color: orangered;
    list-style: none;
}

.pe h3, h4{
    margin-top: 30px;
    font-weight: bold ;
}

.criador{
    text-decoration: none;
    color: orangered;
}